@using Application.Documents.Queries.BankOperator.GetDocumentDetails;
@model DocumentsDetailsDto

<form class="bg-white" id="createDocumentForm" asp-antiforgery="true">

    <div class="mb-3 row">
        <label class=" col-sm-3 form-label" asp-for="Name">Name: </label>
        <div class="col-sm-9">
            <input class=" form-control custom-file-input" asp-for="Name" disabled>
        </div>
        <br>
    </div>

        <div class="mb-3 row " id="institutionSelect">
            <label class=" col-sm-3 form-label" asp-for="Institution">Institution: </label>
            <div class="col-sm-9">
            <select id="institutionValue" class="form-select" asp-for="Institution" disabled>
                    <option id="institutionDefault" value="" selected>@Model.Institution</option>
                </select>
            </div>
            <br>
         </div>

    <div class="mb-3 row " id="macroSelect">
        <label class=" col-sm-3 form-label" asp-for="Macro">MACRO Type: </label>
        <div class="col-sm-9">
            <select id="macroValue" class="form-select" asp-for="Macro" disabled>
                <option id="macroDefault" value="" selected>@Model.Macro</option>
            </select>
        </div>
        <br>
    </div>

    @if (!string.IsNullOrEmpty(Model.Micro))
    {
        <div class="mb-3 row " id="microSelect">
            <label class=" col-sm-3 form-label" asp-for="Micro">MICRO Type: </label>
            <div class="col-sm-9">
                <select id="microValue" class="form-select" asp-for="Micro" disabled>
                    <option id="microDefault" value="" selected>@Model.Micro</option>
                </select>
            </div>
            <br>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Project))
    {
        <div class="mb-3 row " id="projectSelect">
            <label class=" col-sm-3 form-label" asp-for="Project">Project: </label>
            <div class="col-sm-9">
                <select id="projectValue" class="form-select" asp-for="Project" disabled>
                    <option id="projectDefault" value="" selected>@Model.Project</option>
                </select>
                <span class="text-danger" asp-validation-for="Project"></span>
            </div>
            <br>
        </div>
    }

    <div class="mb-3 row">
        <label class=" col-sm-3 form-label" asp-for="GroupingDate">Grouping Date: </label>
        <div class="col-sm-9">
            <input class="form-control" type="date" asp-for="GroupingDate" disabled>
        </div>
        <br>
    </div>

    <label class="form-label" asp-for="AdditionalInfo">Additional Informations: </label>
    <br>
    <div class="mb-3 row justify-content-end">
        <div class="col-sm-9">
            <textarea class="form-control" type="text" asp-for="AdditionalInfo" disabled></textarea>
        </div>
        <br>
    </div>

    <div class="mb-3 row">
        <label class=" col-sm-3 form-label" asp-for="User">User: </label>
        <div class="col-sm-9">
            <input class=" form-control custom-file-input" asp-for="User" disabled>
        </div>
        <br>
    </div>

    <div class="mb-3 row justify-content-end">
        <div class="col-sm-2">
            <button type="button" class="btn btn-secondary float-sm-end" data-bs-dismiss="modal">Close</button>
        </div>
    </div>

</form>