<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DocumentsProject</title>
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DocumentsProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContextMenu/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">DocumentsProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item" onclick="goToAdminIndex()">
                                <a class="nav-link text-light">Administrator</a>
                            </li>
                        }
                        @if (User.IsInRole("CedacriOperator"))
                        {
                            <li class="nav-item" onclick="goToCedacriIndex()">
                                <a class="nav-link text-light">Cedacri Operator</a>
                            </li>
                        }
                        @if (User.IsInRole("BankOperator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" onclick="goToBankIndex()" >Bank Operator</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_ModalPartial" />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DocumentsProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/ContextMenu/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="~/ContextMenu/jquery.ui.position.js"></script>
    <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/js/cedacri.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (User.IsInRole("Administrator"))
    {
        <script type="application/javascript">
            $(document).ready(function () {
                goToAdminIndex();
            });
        </script>
    }
    else if(User.IsInRole("CedacriOperator"))
    {
        <script type="application/javascript">
            $(document).ready(function () {
                goToCedacriIndex();
            });
        </script>
    }
    else if (User.IsInRole("BankOperator"))
    {
        <script type="application/javascript">
            $(document).ready(function () {
                goToBankIndex();
            });
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
