@{
    Layout = null;
}

<div class="" id="cedacriContent">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <button class="nav-link active" id="nav-documents-tab" data-bs-toggle="tab" data-bs-target="#nav-documents" type="button" role="tab" aria-controls="nav-documents" aria-selected="true">
                Documents
            </button>

            <button class="nav-link" id="nav-projects-tab" data-bs-toggle="tab" data-bs-target="#nav-projects" type="button" role="tab" aria-controls="nav-projects" aria-selected="false">
                Projects
            </button>

        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab" tabindex="0">
            <div style="width:100%; margin:0 auto;">
                <table id="documentsDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0"></table>
                <button type="button" onclick="" class="btn-dark" data-bs-toggle="modal" data-bs-target="#modalContainer">Add Document</button>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab" tabindex="0">
            <div style="width:100%; margin:0 auto;">
                <table id="projectsDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0"></table>
                <button type="button" onclick="" class="btn-dark" data-bs-toggle="modal" data-bs-target="#modalContainer">Add Project</button>
            </div>
        </div>

    </div>
</div>