@using Domain.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
   <div id="contentDiv">

   </div>
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

