@using Application.DTOs.Institution;
@model CreateInstitutionDto
<button class="btn-dark" data-bs-toggle="modal" data-bs-target="#createInstitutionModal">Add Institution</button>

<div class="modal fade" id="createInstitutionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createInstitutionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createInstitutionModalLabel">New Institution</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" id="createInstitutionFormContent">
                    <partial name="~/Views/Admin/_CreateInstitutionForm.cshtml" />
                </div>
                              
            </div>
        </div>
    </div>
</div>