@using Application.Users.Conmmand.CreateUser;
@model CreateUserDto

<form class="bg-white" id="createUserForm" asp-antiforgery="true">

    <div id="createUserErrors" class="alert alert-danger" hidden>
    </div>

    <div class="mb-3 row">
        <label class=" col-sm-3 form-label" asp-for="UserName">Username: </label>
        <div class="col-sm-9">
            <input class=" form-control" type="text" asp-for="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <br>
    </div>

    <div class="mb-3 row">
        <label class=" col-sm-3 form-label" asp-for="Password">Password: </label>
        <div class="col-sm-9">
            <input class=" form-control" type="password" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <br>
    </div>

    <div class="mb-3 row">
        <label class=" col-sm-3 form-label" asp-for="ConfirmPassword">Confirm: </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" asp-for="ConfirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <br>
    </div>

    <div class="mb-3 row ">
        <label class=" col-sm-3 form-label" asp-for="Email">Email: </label>
        <div class="col-sm-9">
            <input class="form-control" type="email" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <br>
    </div>

    <div class="mb-3 row ">
        <label class=" col-sm-3 form-label" asp-for="Name">Name: </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <br>
    </div>

    <div class="mb-3 row ">
        <label class=" col-sm-3 form-label" asp-for="Surname">Surname: </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" asp-for="Surname">
            <span class="text-danger" asp-validation-for="Surname"></span>
        </div>
        <br>
    </div>

    <div class="mb-3 row ">
        <label class=" col-sm-3 form-label" asp-for="Patronymic">Patronymic: </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" asp-for="Patronymic">
            <span class="text-danger" asp-validation-for="Patronymic"></span>
        </div>
        <br>
    </div>

    <div class="mb-3 row " id="roleSelectForm">
        <label class=" col-sm-3 form-label" asp-for="UserRoles">Role: </label>
        <div class="col-sm-9">
            <select id="roleSelect" class="selectpicker" asp-for="UserRoles" multiple onchange="renderInstitutionSelect(this.value);">
                <option value="Administrator"> Administrator </option>
                <option value="CedacriOperator"> Cedacri Operator </option>
                <option value="BankOperator"> Bank Operator </option>
            </select>
            <span class="text-danger" asp-validation-for="UserRoles"></span>
        </div>
        <br>
    </div>

     <div class="mb-3 row " id="institutionSelect" hidden>
        <label class=" col-sm-3 form-label" asp-for="IdInstitution">Institution: </label>
        <div class="col-sm-5">
                <select id="institutionValue" class="form-select" asp-for="IdInstitution">
                <option id="institutionDefault" value="" disabled selected hidden>--Select Institution--</option>
                      @foreach (var item in ViewBag.Institutions)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }                   
                </select>
                <span class="text-danger" asp-validation-for="IdInstitution"></span>
        </div>
        <br>
    </div>

    @* <div class="mb-3 row ">
        <label class="col-sm-3 form-check-label" asp-for="IsEnabled">Enabled: </label>
        <div class="col-sm-9">
            <div class=" form-check form-switch">         
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" asp-for="IsEnabled">
            </div>
        </div>
        <br>
    </div> *@

    <div class="mb-3 row justify-content-end">
        <div class="col-sm-3">
            <button type="button" onclick="createUser()" class="btn btn-primary float-sm-end">Submit</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-secondary float-sm-end" data-bs-dismiss="modal">Cancel</button>
        </div>       
    </div>

</form>