
<button class="btn-dark" onclick="loadCreateInstitutionForm()" data-bs-toggle="modal" data-bs-target="#createInstitutionModal">Add Institution</button>

<div class="modal fade" id="createInstitutionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createInstitutionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createInstitutionModalLabel">New Institution</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" id="createInstitutionFormContent">
                   
                </div>
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <button onclick="createInstitution()" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>              
            </div>
        </div>
    </div>
</div>